@model GymManagementSystem.Models.GoiTap
@{ var culture = new System.Globalization.CultureInfo("vi-VN"); }

<h4>Chi tiết: @Model.TenGoi</h4>
<dl>
    <dt class="text-muted">Giá Tiền</dt>
    <dd class="mb-3">@Model.GiaTien.ToString("N0", culture) đ</dd>
    <dt class="text-muted">Số Buổi với PT</dt>
    <dd class="mb-3">@Model.SoBuoiTapVoiPT buổi</dd>
    <dt class="text-muted">Quyền Lợi</dt>
    <dd class="mb-3">@Model.MoTaQuyenLoi</dd>
</dl>
<div class="offcanvas-footer">
    <button type="button" class="btn btn-offcanvas-secondary" data-bs-dismiss="offcanvas">Đóng</button>
</div>